@import '../../globals.scss';

.strength-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    position: absolute;
    top: -90px;
}

.strength-list-item {
    width: 270px;
    height: 285px;
    padding: 25px 20px;
    text-align: center;
    box-shadow: $box-shadow1;
    background-color: #fff;
}

.strength-list-circle {
    width: 120px;
    height: 120px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    border-radius: 50%;
}

.strength-list-subtitle {
    font-size: 16px;
    line-height: 25px;
    color: $subtitle-text;
    font-weight: 400;
    font-family: 'Lato';
    letter-spacing: 0.02em;
}